@font-face {
    font-family: Gilroy-Bold;
    src: url('font/Gilroy-Bold.eot');
    src: url('font/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('font/Gilroy-Bold.woff') format('woff'),
    url('font/Gilroy-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Gilroy-Medium;
    src: url('font/Gilroy-Medium.eot');
    src: url('font/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
    url('font/Gilroy-Medium.woff') format('woff'),
    url('font/Gilroy-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

body{
    font-family: Gilroy-Medium;
    padding-bottom: 120px;

}
.container{
    max-width: 1100px;
    margin: 0 auto;
}
.header {
    height: 80px;

    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    border-bottom: 3px solid grey;
    margin-bottom: 40px;
}

.header-item{
    font-family: Gilroy-Bold;
    font-size: 18px;
    text-align: center;
    padding: 1em;
    color: #828282;
    cursor: pointer;
}
.header-item:first-child{
    color: black;
}
.main-screen{
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;

}
.main-info{
    display: flex;
    height: fit-content;
    margin-bottom: 30px;
}
.main-title{
    font-family: Gilroy-Bold;
    font-size: 50px;
    width: 3em;
    letter-spacing: .06em;
    cursor: default;
}
.main-subtitle{
    justify-self: center;
    align-self: end;
    font-size: 20px;
    line-height: 22px;
    margin: 0 auto 20px auto;
}
.main-img{
    /*background-image: url("img/1.png");*/
    /*background-position: center;*/
    /*background-size: cover;*/
    object-fit: cover;
    height: auto;
    width: 100%;
    scale: revert;
}
.about-screen{
    background-color: #F6F6F6;
    height: fit-content;
    padding: 120px 0 107px 0;
    margin-bottom: 61px;
}
.about-title{
    font-family: Gilroy-Bold;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 18px;
}
.about-content{
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}
.skills-screen{
    padding: 30px 1em 10px 1em;
    margin-bottom: 70px;
}
.skills-title{
    font-family: Gilroy-Bold;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 69px;
}
.skills-subtitle{
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 70px;
}
.skills-programs{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.skill-card{
    padding: 1em 1em 3em 1em;
    width: 170px;
    height: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-icon{
    height: 90px;
    width: 90px;
    /*background-color: gray;*/
    margin-bottom: 16px;
    position: center;
}
.card-rate{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 9px;
}
.star{
    height: 26px;
    width: 26px;
}
.card-title{
    font-family: Gilroy-Bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin-bottom: 40px;
    color: #828282;
    height: 2em;
}
.portfolio-screen{
    padding-top: 20px;
    height: auto;
    margin-bottom: 110px;
}
.portfolio-title{
    font-family: Gilroy-Bold;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 47px;
}
.portfolio-works{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}
.portfolio-work{
    font-size: 18px;
    line-height: 22px;
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}
.work-img{
    height: auto;
    width: 100%;
    object-fit: cover;
}
.work-title{
    text-align: center;
    text-decoration-line: underline;
    text-decoration-color: black;
}
.contacts-screen{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*max-width: 340px;*/
}
.contacts-title{
    font-family: Gilroy-Bold;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 20px;
}
.contacts-subtitle{
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 30px;
}
.contacts-button{
    font-family: Gilroy-Bold;
    font-size: 18px;
    text-align: center;
    padding: 13px 30px;
    border-radius: 21px;
    background-color: black;
    margin-bottom: 80px;
    color: #FFFFFF;
    cursor: pointer;

}
.links-icons{
    padding: 6px 0;
    display: flex;
    min-width: 190px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: auto;
    margin-bottom: 40px;

    max-width: 340px;
    width: 70%;
}
.links-icon{
    width: 40px;
    height: 40px;
}
.links-text{
    font-size: 14px;
    line-height: 17px;
    text-align: center;

    color: #828282;
}
p.about:not(:last-child){
    margin-bottom: 2.5em;
}


@media (max-width: 600px) {
    .header{
        flex-direction: column;
        justify-content: normal;
        height: auto;
    }

}
@media (max-width: 460px) {
    .skills-programs{
align-items: center;        flex-direction: column;
    }

}
@media (max-width: 400px){
    .main-info{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .main-title{
        width: auto;
        text-align: center;
    }
    .main-subtitle{
        margin: 0 0;
        align-self: center;
    }
}